<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esca - Provider Portal</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div>
        <h1>Nearby Schools</h1>
        <button>Load</button>
    </div>
    <script>
        function loadNearby(event) {
            $.ajax({
                url: "/providers/nearby_schools/1",
                method: "GET",
            }).then(data => {
                $("h1").remove();
                $("button").remove();
                $("div").append(`<img src=${data.url}>`);
            });
        }

        $("button").click(loadNearby);
    </script>
</body>

</html>